services:
  api:
    build:
      context: .
      target: production
    container_name: url_shortener_api
    restart: always
    environment:
      NODE_ENV: production
      PORT: 3000
    command: pnpm start:prod
    # create script in package.json
    # make sure it's running compiled JS not tsx

worker:
  build:
    context: .
    target: production
  container_name: url_shortener_worker
  restart: always
  environment:
    NODE_ENV: production
  command: pnpm start:worker
  # create script
  # make sure it's running compiled JS not tsx
  # Multi-Stage Dockerfile?
